<%- include("partials/header") -%>
 <div class="container phone-container">
     
 
 
 
 <div class="row">
    <img src="../images/cate-1.png" alt="img">
 
<div class="col-lg-6 col-sm-6 col-12 left">
    <div class="main-phone">
        <img class="phone-img" src="../images/<%=phoneName%>.jpg" width="100%" alt="">
     </div>

     <div class="smaller-img">
    <div class="inner-img">
    <!-- <img src="../images/rutrum-vel-imperdiet-eget.jpg" alt="img">
    <img src="../images/rutrum-vel-imperdiet-eget.jpg" alt="img">
    <img src="../images/rutrum-vel-imperdiet-eget.jpg" alt="img"> -->
     </div>
    </div>
    </div>

<div class="col-lg-6 col-sm-6 col-12 right">
<h1>Lorem ipsum dolor</h1>
<p>
    <i class="fa-solid fa-star phone-star"></i>
    <i class="fa-solid fa-star phone-star"></i>
    <i class="fa-solid fa-star phone-star"></i>
    <i class="fa-solid fa-star phone-star"></i>
    (0reviews)
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, dolores. Cupiditate illo quo, quibusdam unde, quaerat vero eligendi provident molestiae hic id nobis cum voluptatum voluptatem similique dolor dicta minus!</p>

<div class="phone-pricing">
<h1>&dollar;190.00</h1>
</div>

<label for="">Color</label>
<input type="color">
<label for="">Size</label>
<input type="number" name="" id="">

<label for="">Quantity</label>
<input type="number" max="10" min="1">

<div class="icons">
    <i class="fa-solid fa-basket-shopping header-img "title="add to cart" ></i>
</div>

 <div class="btn-phone-route">
     <a href="/buy" class="btn btn-dark">Buy</a>
 </div>

<div class="share-options">
    <p><i class="fa fa-facebook fa-fw fb"></i>Share</p>
    <p><i class="fa fa-twitter fa-fw twitter"></i> Twitter</p>
    <p><i class="fa fa-pinterest fa-fw pinterest"></i>Pinterest</p>
</div>
</div>


<div class="des">
 <div class="headings">
     <h1 id="heading-1" class="active" onclick="toggle('Description')" >Description</h1> 
     <h1 id="heading-2"  onclick="toggle('PhoneDetails')" class="middle-h1">PhoneDetails</h1> 
     <h1 id="heading-3"  onclick="toggle('Reviews')" >Reviews</h1> 
 </div>

 <div class="all-des-border">
    <div class="phone-description">
        <p id="toggle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus autem inventore porro excepturi minima recusandae aperiam sit facilis cupiditate architecto quidem id repellat tempore est quia, reiciendis perferendis quo error.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, repellendus velit! Facere dolorum delectus, distinctio cumque fuga quam non pariatur soluta quaerat quasi vel possimus fugit velit enim eos minus?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores deleniti reprehenderit facilis vero voluptatem dolorem, provident excepturi est possimus iusto harum aperiam, dignissimos inventore id labore aut delectus molestiae minus.
        </p>
    </div>
    <div class="phone-details">
    
    </div>
    <div class="phone-reviews">
    
    </div>
 </div>

 </div>
 


 
</div>

<div id="basket-item" class="row container">

</div>
 </div>
<%- include("partials/footer") -%>
