 

<!DOCTYPE html>
<html lang="en">
<head>
      <!-- fonts -->
      <script src="https://kit.fontawesome.com/6bc084288d.js" crossorigin="anonymous"></script> 
  <meta charset="UTF-8">
  <style>
    form{
  max-width: 600px;
  padding: 50px 30px 50px 30px;
  margin:auto;
  text-align: center;
    position: relative;
}

 

 

h1{
font-size: 35px;
letter-spacing: 1px;
font-family: sans-serif;
}

.main-txt{
  max-width: 350px;
    display: flex;
    justify-content: center;
    margin: auto;
}
 

 
 

a{
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 10px;
  display: block;
}

 /* share */
.twitter{
  background-color: #55ACEE;
}
.twitter:hover{
  background-color: #2393e7;
}

.fb:hover{
  background-color:  #054bdd;
}

 .fb{
   background-color: #3B5998;
 }

.google{
  background-color: #dd4b39;
}

.google:hover{
  background-color: #f1331c;
}

 
 

  </style>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signin</title>
</head>
<body>
  <form class="" action="/signup" method="post">
 
    <div class="main-txt">
 
       <div class="col-4">
         <a href="/auth/facebook" class="fb btn">
           <i class="fa fa-facebook fa-fw"></i> Login with Facebook
          </a>
         <a href="" class="twitter btn">
           <i class="fa fa-twitter fa-fw"></i> Login with Twitter
         </a>
         <a href="/auth/google" class="google btn"><i class="fa fa-google fa-fw">
           </i> Login with Google+
         </a>
       </div>
   </div>
  
  </form>
  
   
  
</body>
</html>



 