.phone-container{
    margin-top: 150px;
}

.headings h1{
margin: 5px 20px 20px 0;
padding: 0 10px;
cursor:pointer;

}
 
.headings h1:hover{
  color: #f1331c;
}

.active{
  color: #f1331c;
}

.middle-h1{
  border-left: 2px solid black;
  border-right: 2px solid black;
}

 .phone-pricing h1{
     display: inline-block;
      border-top: 3px solid black;
      border-bottom: 3px solid black;
 }

.right{
    display: flex;
    flex-direction: column;
}


.share-options p{
    font-size: 12px;
}

label{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    margin: 10px 0;
}

.left,.right{
    margin-top: 20px;
}

.share-options{
    display: flex;
    justify-content: space-evenly;
}

.share-options p{
  border: 1px solid lightgray;
  padding: 10px;
  text-align: center;
}

.phone-star{
    color: gold;
}


/* share */
.twitter{
    color: #55ACEE;
  }
  .twitter:hover{
color: #2393e7;
  }
  
  .fb:hover{
    color:  #054bdd;
  }
  
   .fb{
     color: #3B5998;
   }
  
  .pinterest{
color: #dd4b39;
  }
  
  .pinterest:hover{
    color: #f1331c;
  }
  
 .headings{
 display: flex;      
 }

 .headings p{
    border-left: 1px solid black;
 }

 .all-des-border{
box-shadow: 0 0 10px lightgray;
padding: 10px;
 }