<div class=" mynav">

    <nav class="navbar navbar-expand-lg nav navbar-light bg-light">
        <div  class="container-fluid" >
            <a class="navbar-brand" href="">LK business</a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavigation"  >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavigation">
       <ul class="navbar-nav"  >



    <li class="nav-item login-link"><a href="/signup"> <i class="basket-img header-img fa-solid fa-user-plus">S'inscrire</i> </a></li>
   
       </ul>
        </div>

         </div>           
            <form class="d-flex" method="post" action="/">
                <input class="form-control me-2" type="search" name="searchItem" placeholder="enter a phone..." aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Search</button>
              </form>
     </nav>
   </div>