
<nav id="main-nav">
    <div class="dropdown"> 
      <a href=""><i class="fa-solid fa-plus"></i> ALL CATEGORIES</a>
      <div class="dropdown-content"> 
        <a href="">IPHONE</a>
        <a href="">TECHNO</a>
        <a href="">ITEL</a>
        <a href="">SAMSUNG</a>
      </div>
    </div>
  
   <div class="main-nav-second">
    <a href="/">HOME</a>
    <a href="">PHONE</a>
    <a href="">COMPUTER</a>
    <a href="">CONTACT US</a>
   </div>
   <div class="nav-item basket-img-head">     
    <i class="header-img fa-solid fa-basket-shopping"></i>
    <span id="basket" onclick="displayCart()" class="basket-active"></span>
  </div>
  </nav>